{
  "*.ts": [
    "prettier --write --config ./node_modules/ddts/.prettierrc.yml",
    "git add",
    "tslint --fix",
    "git add",
    "sh ./node_modules/ddts/scripts/util-check.sh"
  ],
  "*.scss": [
    "prettier --write --config ./node_modules/ddts/.prettierrc-scss.yml",
    "git add"
  ]
}
