{
  "*.ts": [
    "prettier --write --config ./node_modules/ddts/.prettierrc.yml",
    "git add",
    "tslint --fix --project tsconfig.json",
    "git add"
  ],
  "*.scss": [
    "prettier --write --config ./node_modules/ddts/.prettierrc-scss.yml",
    "git add"
  ]
}
