{
  "*.ts": [
    "prettier --write --config ./node_modules/ddts/.prettierrc.yml",
    "eslint --fix",
    "sh ./node_modules/ddts/scripts/index.sh"
  ],
  "*.scss": [
    "prettier --write --config ./node_modules/ddts/.prettierrc-scss.yml"
   ]
}
